.landing-box {
    width: 80%;
    margin: auto;
}

.image-container {
    width: 100%;
    margin: auto;
}

.about-me {
    width: 49.5%;
    margin-top: 50px;
}

#description {
    margin-top: 16px;
    font-family: 'Mukta', sans-serif;
    text-align: justify;
    color: black;
    width: 100%;
    font-size: 15px;
}

@media only screen and (max-width:600px) {
    #description {
        font-family: 'Mukta', sans-serif;
        font-size: 12px;
        width: 100%;
        text-align: justify;
        padding: 0px;
    }
}