.landing-page {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    background-image: url("../assets/backpic.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.avatar-img {
    width: 250px;
    height: 250px;
    border-radius: 60%;
    padding-right: 10px;
}

#root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1) {
    font-family: 'Dancing Script', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    padding: 5px;
}

#root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1)>b {
    font-weight: normal;
    font-style: normal;
}

.banner-text h1 {
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.banner-text hr {
    border: solid 1px white
}

.about-me-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me-links>a {
    text-decoration: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.about-me-links>a:hover {
    opacity: .7;
}

.about-me-links>a:nth-child(2) {
    background-color: rgba(247, 23, 53, 1);
}

.about-me-links>a:nth-child(3) {
    background-color: rgba(194, 9, 90, 1);
}

.about-me-links>a:nth-child(4) {
    background-color: rgba(9, 4, 70, 1);
}

#root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(3) {
    text-align: end;
    color: black;
    padding: 5px;
}

#root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1) {
    color: black;
}

#text>p {
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    width: 80%;
}

#author>p {
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    text-align: end;
    color: white;
    padding: 5px;
}

.about-me-links>a>span {
    position: relative;
    top: 40px;
}

.about-me-links>h1 {
    position: relative;
    top: 18px;
    font-size: 30px;
}

@media only screen and (max-width:1000px) {
    #root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(3) {
        color: white;
        font-size: 20px;
    }
    #root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1) {
        color: white;
    }
    .banner-text {
        margin: auto;
    }
    .avatar-img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width:600px) {
    #root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1)>b,
    #root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1) {
        font-size: 22px;
    }
    #root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(3) {
        color: black;
        font-size: 18px;
    }
    #root>div>div>div>div.mdl-layout__content>div>div>h1:nth-child(1) {
        color: black;
    }
    .avatar-img {
        width: 100px;
        height: 100px;
    }
}