    /* nav bar */
    
    .header-color {
        background: #3E5151;
        background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);
        background: linear-gradient(to bottom, #DECBA4, #3E5151);
    }
    
    #root>div>div>div>header>div>nav>a {
        font-size: 20px;
    }
    /* body */
    
    #root>div>div>div>div.mdl-layout__content,
    .contact-body {
        width: 100%;
        margin: auto;
        background-image: url(./assets/background.jpg);
        width: 100%;
    }
    /* footer */
    
    #root>div>div>div>footer {
        height: 1%;
    }
    /* li {
        color: white;
        padding-right: 20%;
        display: grid;
    } */
    /* .landing-grid {
    background: #3E5151;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #DECBA4, #3E5151); */
    
    */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    widows: 100%;
    height: 100%; */
    /* } */
    
    .landing-page {
        display: flex;
        align-items: center;
    }
    
    .avatar-img {
        width: 20%;
        display: flex;
        align-items: center;
        padding-top: 20px;
        border-radius: 100%;
        margin: 0 auto;
    }
    
    .banner-text {
        background-color: black;
        opacity: .5;
        width: 60%;
        margin: auto;
        border-radius: 10px;
    }
    
    .card {
        background-color: white;
        color: black;
        opacity: .8;
        width: 60%;
        margin: 15px auto;
        border-radius: 10px;
        box-shadow: 10px 10px 10px grey;
        z-index: 1;
    }
    
    .card h4 {
        /* padding-top: 15px; */
        padding-bottom: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .card h5 {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .card p {
        /* padding: 5px; */
        /* text-align: center; */
        margin: 0px 10px 0px 10px;
    }
    
    #text {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
        padding-bottom: 15px;
    }
    
    .banner-text h1 {
        padding-top: 20px;
        font-size: 3rem;
        font-weight: bold;
        color: grey;
        text-align: center;
    }
    
    .banner-text hr {
        border-top: 10px solid grey;
        width: 100%;
    }
    
    .banner-text p {
        color: grey;
        font-size: 25px;
        padding: 1em;
        text-align: center;
        font-weight: bold;
    }
    
    .social-links {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
    
    .social-links i {
        color: white;
        font-size: 3em;
        padding: 8px;
    }
    
    .about-me {
        padding-top: 1%;
        margin: auto;
        display: grid;
        min-width: 200px;
        width: 60%;
        border-radius: 1.5%;
    }
    
    #project-image {
        width: 50%;
        margin: auto;
        display: grid;
    }
    
    .contact-body {
        margin: auto;
        background-color: grey;
        position: fixed;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 2em;
    }
    
    .contact-grid {
        text-align: center;
        justify-content: center;
        background-color: white;
        color: black;
        opacity: .8;
        width: 70%;
        margin: auto;
        border-radius: 10px;
        display: flex;
        box-shadow: 10px 10px 10px grey;
        z-index: 1;
    }
    
    .contact-grid img {
        width: 60%;
        border-radius: 50%;
    }
    
    .contact-list i {
        padding-right: 5px;
    }
    
    .contact-list {
        display: flex;
        align-items: center;
    }
    
    .links {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
    }
    
    .links a {
        text-decoration: none;
        padding: 5px;
        margin-bottom: 15px;
        margin-top: 15px;
        color: black;
        border: 0.1px solid lightgray;
        border-radius: 7px;
        text-align: center;
    }
    
    .links a:hover {
        box-shadow: 5px 5px 5px grey;
    }
    
    .links i {
        padding-right: 5px;
        color: blue;
    }
    
    #arrow-down {
        font-size: 2em;
        display: flex;
        align-items: center;
        margin-left: 40%;
        color: blue;
    }
    
    #arrow-down:hover {
        border-radius: 7px;
        border: 0.1px solid lightgray;
        box-shadow: 5px 5px 5px grey;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #job-logo {
        width: 5%;
        padding-bottom: 12px;
        margin-right: 1px;
    }
    
    .company-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .company-details,
    .education-detail {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .card li {
        color: black;
        padding-top: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .card ul {
        padding: 10px;
    }
    
    #school-logo {
        width: 5%;
        padding: 20px;
        margin-top: 15px;
        margin-right: 1px;
    }
    
    .school-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card img {
        width: 20%;
    }
    
    #header-education {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        flex-direction: column;
        margin-top: 15px;
    }
    
    #work-img {
        width: 70%;
        margin: auto;
        display: grid;
        padding-bottom: 20px;
    }