      /* $midnight-blue: rgba(9, 4, 70, 1);
    $gold-fusion: rgba(120, 111, 82, 1);
    $yellow-orange: rgba(254, 185, 95, 1);
    $imperial-red: rgba(247, 23, 53, 1);
    $rose-red: rgba(194, 9, 90, 1); */
      /* nav bar start */
      
      body {
          margin: 0 auto;
          padding: 0px;
      }
      
      #root>div>div>div>header {
          background-color: rgba(254, 185, 95, 1);
          position: fixed;
      }
      
      #root>div>div>div>header>div>span {
          font-family: 'Dancing Script', cursive;
          font-family: 'Mukta', sans-serif;
          font-family: 'Pacifico', cursive;
          color: rgba(120, 111, 82, 1);
      }
      
      #root>div>div>div>header>div>nav>a {
          color: black;
          font-family: 'Mukta', sans-serif;
          font-size: 20px;
          font-weight: bold;
          border-bottom: solid 2px rgba(120, 111, 82, 1);
      }
      
      #root>div>div>div>header>div>nav>a:hover {
          background-color: rgba(247, 23, 53, 1);
          color: rgba(254, 185, 95, 1);
          border-radius: 5px;
      }
      /* nav bar end */
      /* drawer start */
      
      #root>div>div>div>div.mdl-layout__drawer-button>i {
          width: 50px;
          height: 50px;
      }
      
      #root>div>div>div>div.mdl-layout__drawer.is-visible {
          background-color: rgba(254, 185, 95, 1);
      }
      
      #root>div>div>div>div.mdl-layout__drawer.is-visible>nav>a {
          color: black;
          font-family: 'Mukta', sans-serif;
          font-size: 15px;
          font-weight: bold;
      }
      
      #root>div>div>div>div.mdl-layout__drawer.is-visible>nav>a:hover {
          background-color: rgba(247, 23, 53, 1);
          color: rgba(120, 111, 82, 1);
          border-radius: 5px;
      }
      
      #root>div>div>div>div.mdl-layout__drawer.is-visible>span {
          font-family: 'Dancing Script', cursive;
          font-family: 'Mukta', sans-serif;
          font-family: 'Pacifico', cursive;
          color: rgba(120, 111, 82, 1);
      }
      /* drawer end */
      
      body {
          background-color: rgba(254, 185, 95, 1);
      }
      /* footer start */
      
      #root>div>div>div>footer {
          width: 80%;
          margin: 0 auto;
          background-color: rgba(254, 185, 95, 1);
          display: flex;
          justify-content: center;
          border-top: solid 2px rgba(120, 111, 82, 1);
          margin-bottom: 0px;
          padding-bottom: 0px;
          padding-top: 15px;
      }
      
      .social-links {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          font-size: 10px;
          margin-left: 250px;
      }
      
      #root>div>div>div>footer>div>ul>li:nth-child(1)>a {
          font-family: 'Dancing Script', cursive;
          font-family: 'Mukta', sans-serif;
          font-family: 'Pacifico', cursive;
          color: black;
          font-size: 20px;
          margin-left: 20%;
      }
      
      #root>div>div>div>footer>div>ul>li:nth-child(1)>a:hover {
          color: rgba(120, 111, 82, 1);
      }
      
      #root>div>div>div>footer>div>ul>li:nth-child(2)>div>p {
          font-family: 'Dancing Script', cursive;
          font-family: 'Mukta', sans-serif;
          font-family: 'Pacifico', cursive;
          color: black;
          font-size: 20px;
      }
      
      .fa {
          font-size: 250%;
          text-decoration: none;
          border-radius: 5px;
          padding: 7px;
      }
      
      .fa:hover {
          color: black;
      }
      
      .fa-facebook {
          color: white;
      }
      
      .fa-linkedin {
          color: white;
      }
      
      .fa-instagram {
          color: white;
      }
      
      .fa-github {
          color: white;
      }
      
      .social-links>a>i {
          margin-bottom: 15px;
          ;
      }
      /* footer end */
      
      @media only screen and (max-width:600px) {
          #root>div>div>div>footer>div>ul>li:nth-child(1)>a,
          #root>div>div>div>footer>div>ul>li:nth-child(2)>div>p,
          #root>div>div>div>footer>div>ul>li:nth-child(2)>div>a>i {
              font-size: 12px;
              padding-bottom: 5px;
              margin: auto;
          }
          .social-links {
              margin-left: 60px;
          }
          .social-links>a>i {
              color: white;
          }
      }